
.myName{
    float:left;
    font-weight: bolder;
    font-size: 2em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #3083DC;
    text-shadow: 20em, 20em, 20em, #610F7F;
}
header{
    position:fixed; /* header will be visible when you scroll down */
    font-size: x-large;
    text-align: right;
    padding: 1em;
    top:0; /*create header background flushed to edges */
    left:0;
    right:0;
    background-attachment: fixed; /* see a portion of the background image */
    background-size: 100% 100%; /*adjust image stretch across size of the window */
    background-image: url('./img/headerImg1.avif');
}

footer{
    padding: 2em;
    background-attachment: fixed; /* when scrolling, background image for footer changes */
    background-size: 100% 100%;
    background-image:url('./img/footerImg1.avif');
}
body{
    background-size: 100% 100%;
    background-image: url('./img/bodyImg1.avif');
}
footer{
    text-align: center;
    font-weight: 900;
    color: #D8315B;
}
.block{
    display: flex;
    justify-content: space-between;
}
.polaroid{
    width: 28%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    justify-content: center;
    text-align: center;
}
.caption{
    display: flex;
    flex-direction: row;
    width: 60%;
}

img{
    display:block;
    width: auto;
    height: auto;
    max-width: 300px;
    max height: 300px;
    border: 5px solid #555;
    margin: 20px;
}
p{
    margin: 20px;
}
a:hover{
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}
h1{
    margin-top:5em;
}

button {
    border-radius: 45%;
    border-color: black;
    cursor: pointer;

}
form{
    margin-bottom: 5em;
}
